---
---

@import "minima";
// all the following is useful if the image is changed using the randomloogo.js script from markdown, otherwise it is useless
.site-title::before {
    content: url("imgs/svgs/logo0.svg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;}

.site-title0::before {
        content: url("imgs/svgs/logo0.svg");
        display: inline-block;
        position: relative;
        width: 37px;
        top: 5px;}

.site-title1::before {
    content: url("imgs/svgs/logo1.svg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;}


.site-title2::before {
    content: url("imgs/svgs/logo2.svg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;}


.site-title3::before {
    content: url("imgs/svgs/logo3.svg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;
    }

.site-title4::before {
    content: url("imgs/svgs/logo4.svg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;
    }

    .site-title5::before {
        content: url("imgs/svgs/logo5.svg");
        display: inline-block;
        position: relative;
        width: 37px;
        top: 5px;
        }

    .site-title6::before {
        content: url("imgs/svgs/logo6.svg");
        display: inline-block;
        position: relative;
        width: 37px;
        top: 5px;
        }

    .site-title7::before {
        content: url("imgs/svgs/logo7.svg");
        display: inline-block;
        position: relative;
        width: 37px;
        top: 5px;
        }

    .site-title8::before {
        content: url("imgs/svgs/logo8.svg");
        display: inline-block;
        position: relative;
        width: 37px;
        top: 5px;
        }

    .site-title9::before {
        content: url("imgs/svgs/logo9.svg");
        display: inline-block;
        position: relative;
        width: 37px;
        top: 5px;
        }


        .site-title10::before {
            content: url("imgs/svgs/logo10.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title11::before {
            content: url("imgs/svgs/logo11.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title12::before {
            content: url("imgs/svgs/logo12.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title13::before {
            content: url("imgs/svgs/logo13.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title14::before {
            content: url("imgs/svgs/logo14.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title15::before {
            content: url("imgs/svgs/logo15.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title16::before {
            content: url("imgs/svgs/logo16.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title17::before {
            content: url("imgs/svgs/logo17.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title18::before {
            content: url("imgs/svgs/logo18.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title19::before {
            content: url("imgs/svgs/logo19.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title20::before {
            content: url("imgs/svgs/logo20.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title21::before {
            content: url("imgs/svgs/logo21.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title22::before {
            content: url("imgs/svgs/logo22.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title23::before {
            content: url("imgs/svgs/logo23.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title24::before {
            content: url("imgs/svgs/logo24.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title25::before {
            content: url("imgs/svgs/logo25.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title26::before {
            content: url("imgs/svgs/logo26.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title27::before {
            content: url("imgs/svgs/logo27.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title28::before {
            content: url("imgs/svgs/logo28.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title29::before {
            content: url("imgs/svgs/logo29.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }

        .site-title30::before {
            content: url("imgs/svgs/logo30.svg");
            display: inline-block;
            position: relative;
            width: 37px;
            top: 5px;
            }
